<div id="fixed-header-slide">
  <div class="header"></div>
</div>
<div class="fixed">
  <div class="container body">
    <ng-container>
      <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
        [fullScreen]="true">
      </ngx-spinner>
      <div class="gray_tab_bar" [ngClass]="{'height_40': !expand}">
        <div class="d-flex">
          <h5 class="gray_tab_bar_title">注意事項</h5>
          <div class="icon_btn" (click)="expand = !expand">
            <i class="fas" [ngClass]="expand?'fa-angle-up':'fa-angle-down'"></i>
          </div>
        </div>
        <div class="gray_tab_bar_header">
          <h6>宗旨</h6>
        </div>
        <p>本平台(賽事分析同學會)預測是利用大數據分析中機器學習的方式，來預測出下一場的比賽勝率;</p>
        <p>本平台是由一群愛好運動賽事的工程師所架構的，喜愛分析討論球賽，所以成立了這個以討論賽事性質的平台，大家一起來預測賽事吧！</p>
        <div class="gray_tab_bar_header">
          <h6>板規</h6>
        </div>
        <p>1. 本平台為匿名帳號發言，不可人生攻擊，經查屬實帳號停權</p>
        <p>2. 本平台為分析賽事同好討論，不可留言任何形式的廣告，經查屬實帳號停權</p>
        <p>3. 本平台為分析賽事僅供參考以及討論，切勿拿來賭博，小賭怡情 大賭傷身</p>
      </div>
      <div class="alert alert-dark d-flex justify-content-between" role="alert">
        <div class="message_text">
          中華職棒隊伍
        </div>
      </div>
      <div class="row">
        <div class="col-3" *ngFor="let player of playerList">
          <div class="alert alert-primary cursorP" role="alert" (click)="goAnalysis(player)">
            {{player.name}}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="footer"></div>
