<div id="fixed-header-slide">
  <div class="header"></div>
</div>
<div class="fixed">
  <div class="container body">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
      [fullScreen]="true">
    </ngx-spinner>
    <ng-container>
      <ng-container *ngIf="teamVsList">
        <div class="gray_tab_bar height_40">
          <div class="d-flex">
            <div class="ml-2">
              <i class="fas fa-chevron-left cursorP" (click)="goBack()"></i>
            </div>
            <h5 class="gray_tab_bar_title">{{teamVsList.name}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <input type="button" class="form-control" #dp="bsDatepicker" bsDatepicker [ngModel]="bsValue"
              [maxDate]="bsValue" (ngModelChange)="changeDate($event)">
            <i class="fas fa-caret-down icon_down" (click)="dp.toggle()"></i>
          </div>
        </div>
        <div class="alert alert-primary" role="alert" *ngFor="let vsItem of teamVsList.vs">
          <h4 class="text-center">{{vsItem.time}}</h4>
          <div class="d-flex justify-content-around">
            <div *ngIf="vsItem.place === '主'">
              <h1>{{vsItem.name}}</h1>
              <h1>{{vsItem.win}}</h1>
            </div>
            <div *ngIf="vsItem.place === '客'">
              <h1>{{vsItem.myName}}</h1>
              <h1>{{vsItem.myWin}}</h1>
            </div>
            <div>
              <h1 class="text-center">ＶＳ</h1>
              <button class="btn btn-info mt-2" (click)="analysisBtn(teamVsList.teamId, vsItem)"
                [disabled]="!isLogin || vsItem.win">此場勝率預測</button>
            </div>
            <div *ngIf="vsItem.place === '客'">
              <h1>{{vsItem.name}}</h1>
              <h1>{{vsItem.win}}</h1>
            </div>
            <div *ngIf="vsItem.place === '主'">
              <h1>{{vsItem.myName}}</h1>
              <h1>{{vsItem.myWin}}</h1>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="alert alert-dark d-flex justify-content-between" role="alert">
        <div class="message_text">
          討論區 ｜ 會員人數： 20245 ｜ 會員名稱： {{tokenContain.account}} ｜ 剩餘預測次數：
        </div>
        <div>
          <button type="button" class="btn btn-warning btn-sm" (click)="login()" *ngIf="!isLogin">登入</button>
          <button type="button" class="btn btn-warning btn-sm" (click)="logout()" *ngIf="isLogin">登出</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="messages()" [disabled]="!isLogin"
            title="登入後才可以留言">留言</button>
        </div>
      </div>

      <div *ngIf="popupLogin">
        <div class="card border-primary mb-3">
          <div class="card-header">登入</div>
          <div class="card-body text-primary">
            <h5 class="card-title">帳號
              <input type="text" class="form-control" placeholder="請輸入帳號" [(ngModel)]="account">
            </h5>
            <h5 class="card-title">密碼
              <input type="text" class="form-control" placeholder="請輸入密碼" [(ngModel)]="password">
            </h5>
          </div>
          <div class="d-flex btn_group">
            <button type="button" class="btn btn-primary" (click)="loginBtn()">登入</button>
            <button type="button" class="btn btn-warning ml-2 mr-2">註冊</button>
            <button type="button" class="btn btn-secondary">取消</button>
          </div>
        </div>
      </div>

      <div *ngIf="popupMessages">
        <div class="card border-primary mb-3">
          <div class="card-header">留言</div>
          <div class="card-body text-primary">
            <h5 class="card-title">
              <textarea class="text_box">輸入你想要寫的內容...</textarea>
            </h5>
          </div>
          <div class="d-flex btn_group">
            <button type="button" class="btn btn-primary mr-2">確定</button>
            <button type="button" class="btn btn-secondary ml-2">取消</button>
          </div>
        </div>
      </div>

      <div class="card mb-2" *ngFor="let messageItem of messagesList">
        <div class="card-header">
          {{messageItem.author}}, 發布時間： {{messageItem.time}}
        </div>
        <div class="card-body">
          <h5 class="card-title mb-4">{{messageItem.content}}</h5>
          <div class="text-right">
            <span class="message_reply＿tittle_btn" (click)="openReply()">回覆({{messageItem.reply.length}})</span>
          </div>
          <ng-container *ngIf="isReply">
            <div class="card message_reply＿tittle_bg message_reply">
              <div class="message_reply＿tittle">
                <div>更多回覆</div>
              </div>
            </div>
            <div class="card message_reply＿tittle_bg message_reply" *ngFor="let replyItem of messageItem.reply">
              <div class="card-body">
                <h5 class="card-title">{{replyItem.name}}</h5>
                <p class="card-text mb-0">{{replyItem.content}}</p>
                <div class="text-right">
                  <span>{{replyItem.time}}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

  </div>
</div>
<div class="footer"></div>
