.header {
  height: 60px;
  background-color: #2d4792;
  font-size: 16px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 5;
  position: relative;
}
#fixed-header-slide {
  width: 100%;
  height: 70px; /* 視情況而定(本例依圖片高度而設定) */
  position: fixed;
  top: 0px;
  z-index: 2;
}
.fixed {
  background: url("../../../assets/img/backgroung.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-top: 60px;
}
.body {
  height: 100%;
  min-height: calc(100vh - 130px);
  background-color: #ffffff;
  padding: 5px 20px;
}
.footer {
  width: 100%;
  height: 70px;
  background-color: #272727;
  display: inline-block;
  text-align: center;
  margin-bottom: -6px;
}
.gray_tab_bar {
  text-align: center;
  background-color: #3b3a3a;
  overflow: hidden;
  margin: 10px 0;
  color: #ffffff;
  padding: 10px 5px;
}
.gray_tab_bar_header {
  background-color: #2e2e2e;
}
.gray_tab_bar_title {
  width: 98%;
}
.icon_btn {
  margin-right: 0.5rem;
  cursor: pointer;
  width: 20px;
}
.height_40 {
  height: 40px;
}
.message_text {
  line-height: 30px;
}
.cursorP {
  cursor: pointer;
}
.btn_group {
  margin: auto;
  padding-bottom: 10px;
}
.text_box {
  width: 100%;
  height: 115px;
}
.icon_down {
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}
.form-group {
  // width: 100%;
}
.message_reply {
  margin-left: 50px;
  span {
    font-size: 12px;
  }
}
.message_reply＿tittle {
  margin: 10px;
}
.message_reply＿tittle_bg {
  background-color: #f1f1f1;
  color: #333;
}
.message_reply＿tittle_btn {
  cursor: pointer;
  text-decoration: underline;
}
